table {
    background-color: black;
}

table > tbody > tr > td {
    background-color: seagreen;
    width: 24px;
    height: 24px;
    line-height: 24px;
}

.black:before {
    color: black;
    content: "●";
}

.white:before {
    color: white;
    content: "●";
}